@inherits Umbraco.Web.Mvc.UmbracoViewPage

<nav class="navbar"> 
	<div class="links">
		<a class="hover" href="#landing">Home</a>
		<a href="#profile">Profile</a>
		<a href="#experiences">Experiences</a>
		<a href="#abilities">Abilities</a>
		<a href="#projects">Projects</a>
		<a href="#contact">Contact</a>
		<div id="indicator"></div>
	</div>
</nav>