@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@{
	Layout = null;
	
	var	currentPage = Model;

	var elements = currentPage.Children;
	
	var siteRoot = currentPage.Root();
	
	var footer = siteRoot.Children().Where(f => f.HasValue("MailText"));
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("Head_content")
</head>
<body>
    @Html.Partial("Navbar")
    
    @RenderBody()
    
    @Html.Partial("Script_content")
</body>
</html>

